@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Open+Sans:wght@300&display=swap');
html{
  background-color: #F6F4EB;
  font-family: 'Open Sans', sans-serif;
}
.logo
{
  font-family: 'Handjet', cursive;
}